.banner {
  &.banner--enter {
    opacity: 0.0001;
  }

  &.banner--enter.banner--enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in;
  }

  &.banner--exit {
    opacity: 1;
  }

  &.banner--exit.banner--exit-active {
    opacity: 0.0001;
    transition: opacity 50ms ease-in;
  }

  .banner__text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: $font-color-light;
    text-align: center;

    .banner__text__title {
      display: block;
      margin: 0 auto 0.2em;
      margin-top: 60px;
      font-size: $font-size-3xl;
      font-weight: 900;
      line-height: 1;

      @include breakpoint {
        font-size: $font-size-3xl;
      }
    }

    .banner__text__summary {
      padding: 0 30px;
      margin: 40px 1em;

      @include breakpoint {
        width: 100%;
        max-width: 80%;
        padding: 0px;
        font-size: 1.25em;
      }

      @include breakpoint(desktop-l) {
        max-width: 66%;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    .banner__button {
      display: flex;
      height: 54px;
      align-items: center;
      justify-content: center;  
      margin: 0 auto;
      background-color: transparent;
      color: $theme-color-primary;
      font-weight: $font-weight-regular;
      text-transform: uppercase !important;

      @include breakpoint {  
        display: flex !important;
        width: 96%;
        max-width: 16em;
        height: 74px;
        align-items: center !important;
        justify-content: center !important;  
      }
    }
  }
}
