.contact {
  position: relative;
  margin-top: 5em;

  @include breakpoint {
    @include container($max-width-very-narrow);

    margin-top: 7em;
  }
}

.contact__section {
  margin: 2em 1em;
}

.contact__section__title {
  border-bottom: 2px solid $theme-color-primary;
  margin-bottom: 2em;

  h2 {
    margin-bottom: 0.5em;
  }
}

.contact__section__details__item {
  display: flex;
  align-items: flex-start;
  padding: 0em 1em 1em;

  img {
    width: 2em;
    flex-shrink: 0;
    margin: 0 0.5em;
  }
}

.contact__section__details__text {
  margin-left: 0.5em;
  white-space: pre-line;
}

.contact-form {
  .form-field {
    padding: 0.5em 0;
  }

  .form-field--padding-right {
    @include breakpoint {
      padding-right: 0.5em;
    }
  }

  .form-field--padding-left {
    @include breakpoint {
      padding-left: 0.5em;
    }
  }

  .form-field--material {
    .form-field__input {
      border: 1px solid $theme-color-primary;
    }

    .form-field__label {
      color: $form-field__label-color;
    }
  } 
  
  .form__buttons {
    padding: 0.5em 0;
  }
}

.contact__image {
  display: none;

  @include breakpoint(desktop-l) {
    position: absolute;
    bottom: -5px;
    left: -385px;
    display: block;
  
    img {
      width: 400px;
    }
  }
}